<template>
  <div>
    <h1>Test</h1>
    <v-server-table
      :columns="['test']"
      class="w-100"
      :options="{
        requestFunction: () => [{ test: 'fsdf' }, { test: 'fdssdf' }]
      }"
      ref="table"
    >
      <span slot="afterFilter">test---</span>
    </v-server-table>

    <!--    <h1>Products</h1>-->
    <!--    <top-table-->
    <!--      :filterable="false"-->
    <!--      :columns="['productName', 'productId', 'imgUrl', 'description']"-->
    <!--      :sortable="['productName']"-->
    <!--      :searchColumns="['productName', 'issues']"-->
    <!--      :overlap="true"-->
    <!--      ref="table"-->
    <!--      :showAllChildRow="true"-->
    <!--      uniqueKey="_id"-->
    <!--      :order-by="{ column: 'productName', ascending: 0 }"-->
    <!--      :requestFiltersSeparately="p => p"-->
    <!--      :headings="{}"-->
    <!--      :tab-filters="[-->
    <!--        { val: 'orderStatus', criteria: ['etse', 'tes'] },-->
    <!--        {-->
    <!--          val: 'issues',-->
    <!--          criteria: [],-->
    <!--          pathToLoadCriteria: `/stores/5c7edfd8208c866f6f7c7fd0/products/issues`,-->
    <!--          paramsToLoadCriteria: {-->
    <!--            filter: {-->
    <!--              status: [{ val: 'active' }]-->
    <!--            }-->
    <!--          },-->
    <!--          mapCriteria: el => ({-->
    <!--            val: el._id,-->
    <!--            label: `${el.name}_${el.category}_(${el.productsCount})`-->
    <!--          })-->
    <!--        }-->
    <!--      ]"-->
    <!--      :hasClearFilters="true"-->
    <!--      :url="`/stores/5c7edfd8208c866f6f7c7fd0/products-app-list`"-->
    <!--    >-->
    <!--      <span slot="customAfterFilter" slot-scope="props">test </span>-->
    <!--      &lt;!&ndash;      <vnodes :vnodes="props.slots.afterFilter"><span>re</span></vnodes>&ndash;&gt;-->
    <!--      <template v-slot:child_row="props">-->
    <!--        {{ props.row._id }}-->
    <!--      </template>-->
    <!--      <template v-slot:productName="props">-->
    <!--        &lt;!&ndash;<span @click="toggleSubRow(props.row)">Errrr{{ props.row.productName }}</span>&ndash;&gt;&#45;&#45;{{-->
    <!--          props.page + '===' + props.perPage-->
    <!--        }}-->
    <!--      </template>-->
    <!--      <div class="mt-2 no-gutters d-flex flex-wrap align-items-center w-100" slot="tabsFilter" slot-scope="props">-->
    <!--        DDDDDDDDDDDDDDDDDDDD-->
    <!--      </div>-->
    <!--    </top-table>-->

    <!--    <top-table-->
    <!--      :columns="['name']"-->
    <!--      :url="`stores/5faecb3a3105b959ba5e1a24/products-restrictions`"-->
    <!--      :exportUrl="`http://localhost:3002/stores/5faecb3a3105b959ba5e1a24/products-restrictions`"-->
    <!--      :sortable="[]"-->
    <!--      :order-by="{ column: 'name', ascending: 0 }"-->
    <!--      :searchColumns="['name']"-->
    <!--      :isSelectable="true"-->
    <!--      :has-export="true"-->
    <!--      @exportStart="exportStart"-->
    <!--      :requestFiltersSeparately="requestFiltersSeparately"-->
    <!--      :hasClearFilters="true"-->
    <!--    >-->
    <!--      <span slot-scope="props" slot="name">{{ props.row.supplierId && props.row.supplierId.name }}</span>-->
    <!--    </top-table>-->
    <top-table
      :columns="['name']"
      :url="`orders`"
      :sortable="[]"
      :order-by="{ column: 'name', ascending: 0 }"
      :searchColumns="['name']"
      :isSelectable="true"
      :has-export="true"
      :exportLabel="'test export'"
      :exportV1="true"
      :showLoadAllData="true"
      :dropDownExportOptions="[{ label: 'Export Default' }]"
      :tab-filters="[]"
      @exportStart="exportStart"
      :requestFiltersSeparately="requestFiltersSeparately"
      :hasClearFilters="true"
    >
      <span slot-scope="props" slot="name">{{ props.row.supplierId && props.row.supplierId.name }}</span>
    </top-table>
    <!-- <top-tabl
         :columns="['supplierId', 'promoCategory', 'subCategory', 'mpower']
         :url="`${API_URL}/pscategories`
         :sortable="['supplierId', 'promoCategory', 'subCategory']
         :order-by="{ column: 'supplierId', ascending: 0 }
         :tab-filters="tabFilters
         :searchColumns="['supplierId']
         :isSelectable="true
         :has-export="true
         @exportStart="exportStart
         :requestFiltersSeparately="requestFiltersSeparately
         :hasClearFilters="true
         :headings="{ supplierId: 'Supplier', promoCategory: 'Category' }
       
         <span slot-scope="props" slot="supplierId">{{ props.row.supplierId && props.row.supplierId.name }}</span
         <div class="mt-2 no-gutters d-flex flex-wrap align-items-center w-100" slot="tabsFilter" slot-scope="props"
           <div v-if="props.selected.length" class="mr-2" style="min-width: 260px">Test</div
           <div v-if="props.selected.length" class="mr-2" style="min-width: 260px">Test</div
         </div
       </top-table

       <h1>PaginationList:</h1> -->
    <pagination-list
      :showLoadAllData="true"
      :hideFilters="true"
      ref="paginationList"
      :requestFiltersSeparately="requestPaginationListFiltersSeparately"
      @onLoadFilters="onLoadFilters"
      hasClearFilters
      :url="`/products/5e8db20f9f7c1800017ee8b6/media-images`"
      :requestFunction="onPreRequest"
      :tabFilters="tabPaginationFilters"
      align="card-columns"
    >
      <template v-slot:record="props">
        <div class="card">
          <img :src="props.item.urlSmall" class="card-img-top" />
          <p class="text-center m-0" v-if="props.item.productPart[0]">
            {{
              props.item.productPart[0].colors &&
                props.item.productPart[0].colors[0] &&
                props.item.productPart[0].colors[0].name
            }}
            {{
              props.item.productPart[0].ApparelSize &&
                (props.item.productPart[0].ApparelSize.label_size || props.item.productPart[0].ApparelSize.labelSize)
            }}
          </p>
        </div>
      </template>
    </pagination-list>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {
      tabPaginationFilters: [
        {
          val: 'classTypeName',
          name: 'Type',
          criteria: []
        },
        {
          val: 'color',
          name: 'Color',
          criteria: []
        }
      ],
      tabFilters: [
        { val: 'assigned', criteria: ['Yes', 'No'] },
        {
          val: 'supplierId',
          name: 'Supplier',
          orderBy: 'name',
          pathToLoadCriteria: '/suppliers',
          mapCriteria: i => ({ val: i._id, label: i.name }),
          criteria: []
        }
      ]
    };
  },
  methods: {
    toggleSubRow(row) {
      this.$refs.table.$refs.table.toggleChildRow(row._id);
    },
    filteredProducts(records) {
      return (this.records = records.filter(i => !!i));
    },
    requestFiltersSeparately(params) {
      return params;
    },
    exportStart(params) {
      console.log('exportStart', params);
    },

    onPreRequest(p) {
      p.withPart = true;
      p.fields = ['urlSmall', 'url', '_id', 'productPart.colors.name', 'productPart.ApparelSize'];
    },
    requestPaginationListFiltersSeparately(p) {
      p.withColorName = true;
      p.withPart = true;
      p.withType = true;
      p.fields = ['_id'];
      return {
        ...p,
        filter: {}
      };
    },
    onLoadFilters({ totalColors, totalTypes }) {
      this.tabPaginationFilters.find(e => e.name === 'Type').criteria = totalTypes
        .filter(e => e._id)
        .map(el => ({
          value: el._id,
          label: `${el._id}(${el.total})`
        }));
      this.tabPaginationFilters.find(e => e.name === 'Color').criteria = totalColors
        .filter(e => e._id && e._id[0])
        .map(el => ({
          value: el._id[0],
          label: `${el._id[0]}(${el.total})`
        }));
    }
  }
};
</script>
