<template>
  <div class="d-flex align-items-center">
    <div class="btn-group mr-2">
      <!-- <button type="button" class="btn btn-light dropdown-toggle mr-3" data-toggle="dropdown">
        {{ dateRangeLabel }}
      </button> -->
      <div
        ref="timePeriods"
        class="date-range-dropdown-menu  dropdown-menu">
        <a class="dropdown-item" v-for="period in timePeriods" @click="setDateRange(period)">{{ period.label }}</a>
      </div>
      <div>
        <flat-pickr
            ref="calendar"
            @on-change="dateRangeSelected"
            :value="formatedCalendarRange"
            :config="calendarConfig"
            class="btn btn-light"
            :placeholder="formatedCalendarRange || selectDatesLabel"
            name="date"
        ></flat-pickr>

      </div>
    </div>
    <slot name="right=filter"></slot>
    <a class="ml-auto" @click="$emit('onChange', range)" v-if="showRefresh">
      <i class="fas fa-sync"></i>
    </a>
  </div>
</template>

<script>
import DateOnly from 'dateonly';

export default {
  data() {
    return {
      range: {},
      timePeriods: [
        { label: 'Today', short: '1d' },
        { label: 'Last 7 days', short: '1w' },
        { label: 'Last 4 weeks', short: '4w' },
        { label: 'Last 3 months', short: '3m' },
        { label: 'Last 12 months', short: '12m' },
        { label: 'Month to date', short: 'mtd' },
        { label: 'Quarter to date', short: 'qtd' },
        { label: 'Year to date', short: 'ytd' }
      ],
      calendarConfig: {
        mode: 'range',
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'm/d/Y',
        altInput: true,
        dateFormat: 'm/d/Y' // locale for this instance only
      }
    };
  },
  props: {
    dateRange: {
      type: Object,
      default: () => {}
    },
    showRefresh: {
      type: Boolean,
      default: false
    },
    defaultRange: {
      type: Boolean | String,
      default: 'mtd'
    },
    selectDatesLabel: {
      type: String,
      default: 'Select dates'
    }
  },
  created() {
    this.timePeriods.forEach(t => {
      this.$set(t, 'dateRange', this.calculateDateRange(t.short));
    });
    this.range = _.cloneDeep(this.dateRange);
    if (!this.range.startDate && this.defaultRange) {
      this.range = this.timePeriods.find(i => i.short === this.defaultRange).dateRange;
    }
  },
  mounted() {
    if (this.$refs.calendar) {
      const { calendarContainer } = this.$refs.calendar.fp || {};
      if (calendarContainer && this.$refs.timePeriods) {
        calendarContainer.appendChild(this.$refs.timePeriods)
      }
    }
  },
  watch: {
    range: {
      handler(val) {
        this.$emit('onChange', val);
      },
      deep: true
    }
  },
  methods: {
    setRangeHours(start, end) {
      const startDate = moment(start).format('L');
      const endDate = moment(end).format('L');
      return { startDate, endDate }
    },
    setDateRange(period) {
      this.range = period.dateRange;
    },
    dateRangeSelected(selectedDates) {
      if (
        Array.isArray(selectedDates) &&
        selectedDates.length === 2 &&
        (
          (!this.range.startDate || moment(selectedDates[0]).format('L') !== this.range.startDate) ||
          (!this.range.endDate || moment(selectedDates[1]).format('L') !== this.range.endDate)
        )
      ) {
        const { startDate, endDate } = this.setRangeHours(selectedDates[0], selectedDates[1]);
        this.range = {
          startDate,
          endDate,
          short: null
        };
      }
    },
    calculateDateRange(period) {
      let dateInterval = [];
      let current = new Date();
      let start = new Date();
      if (period === '1d') {
        start = new Date();
      } else if (period === '1w') {
        start = new Date(new Date().setDate(new Date().getDate() - 7));
      } else if (period === '4w') {
        start = new Date(new Date().setDate(new Date().getDate() - 28));
      } else if (period === '3m') {
        start = new Date(new Date().setMonth(current.getMonth() - 3));
      } else if (period === '12m') {
        start = new Date(new Date().setMonth(current.getMonth() - 12));
      } else if (period === 'mtd') {
        start = new Date(current.getFullYear(), current.getMonth(), 1);
        //console.log(moment.utc(start).startOf('day'))
      } else if (period === 'qtd') {
        const quarter = Math.floor(current.getMonth() / 3);
        start = new Date(current.getFullYear(), quarter * 3, 1);
      } else if (period === 'ytd') {
        start = new Date(current.getFullYear(), 0, 1);
      }
      const { startDate, endDate } = this.setRangeHours(start, current)
      dateInterval = {
        startDate,
        endDate,
        startDateOnly: (new DateOnly(startDate)).valueOf(),
        endDateOnly: (new DateOnly(endDate)).valueOf(),
        short: period
      };
      return dateInterval;
    }
  },
  computed: {
    dateRangeLabel() {
      return (this.timePeriods.find(i => this.range.short === i.short) || { label: 'Custom' }).label;
    },
    formatedCalendarRange() {
      const { startDate, endDate } = this.range;
      if (startDate && endDate) {
        return [startDate, endDate];
      }
      return null;
    }
  }
};
</script>

<style lang="css">
  .date-range-dropdown-menu.dropdown-menu {
    width: 160px;;
    right: -160px;
    display: block;
    left: auto;
    top: -3px;
    bottom: 0;
  }
</style>