<script src="../../dist/index.min.js"></script>
<template>
  <div :class="{ 'in-active': loadingFilters }" style="position: relative">
    <div class="text-center w-100" v-if="loadingFilters" style="position: absolute; z-index: 9999">
      <i class="far fa-spinner-third fa-spin text-primary fa-3x"></i>
    </div>
    <div v-if="dateFilter" class="d-flex justify-content-between">
      <div>
        <div class="mr-2">
          <label>Start Date</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fal fa-calendar"></i>
              </span>
            </div>
            <flat-pickr
              v-model="startDate"
              class="bg-white form-control"
              :config="configDate"
              placeholder="Select date"
              name="date"
            ></flat-pickr>
          </div>
        </div>
        <div class="mr-2">
          <label>End Date</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fal fa-calendar"></i>
              </span>
            </div>
            <flat-pickr
              v-model="endDate"
              class="bg-white"
              :config="configDate"
              placeholder="Select date"
              name="date"
            ></flat-pickr>
          </div>
        </div>
        <div class="mr-2">
          <label class="d-none d-md-block">&nbsp;</label>
          <div class="input-group mt-0 mb-3">
            <button type="button" class="btn btn-primary" @click="onDateFiler">Submit</button>
          </div>
        </div>
      </div>

      <TableFilterExport
        ref="filterExport"
        v-if="!exportV1 && (hasExport || hasRefresh)"
        v-bind="$props"
        @refresh="$emit('refresh')"
        @exportStart="$emit('exportStart')"
      />
    </div>

    <TableFilterExport
      ref="filterExport"
      v-else-if="!exportV1 && (hasExport || hasRefresh)"
      v-bind="$props"
      @refresh="$emit('refresh')"
      @exportStart="$emit('exportStart')"
      :v1="true"
    />

    <div class="my-2 d-md-flex" v-if="hasTopBar">
      <slot name="topBar">Top Bar</slot>
      <b-button
        class="mb-2 mr-2"
        :variant="showFilters ? 'primary' : 'outline-primary'"
        @click="showFilters = !showFilters"
        v-b-toggle.taskFilters
      >
        <i class="fal fa-filter"></i>
      </b-button>
      <button class="btn btn-link mb-2 ml-auto" @click="$emit('refresh')">
        <i class="far fa-sync-alt" :class="{ 'fa-spin': loading }"></i>
      </button>
    </div>
    <b-collapse visible id="taskFilters">
      <div class="mb-2">
        <slot name="filterBar"> </slot>
        <div class="d-flex flex-wrap">
          <TableFilterTab
            v-for="(tab, index) in tabs"
            :index="index"
            :key="tab.val || tab.name"
            :filter="filter"
            :tabs="tabs"
            :tab="tab"
            :searchColumns="searchColumns"
            :searchInputs="searchInputs"
          />

          <div v-if="hasClearFilters" class="mr-2 pb-2">
            <button type="button" class="btn btn-link btn-block" @click="$emit('clearFilters')">Clear filters</button>
          </div>
          <slot name="tabsFilter" />
        </div>
      </div>
    </b-collapse>
  </div>
</template>
<script>
import { startCase } from '../utils/index';
import moment from 'moment';
import TableFilterTab from './TableFilterTab';
import TableFilterExport from './TableFilterExport';

export default {
  name: 'TableFilters',
  components: { TableFilterTab, TableFilterExport },
  data() {
    return {
      showFilters: true,
      startDate: '',
      endDate: '',
      configDate: {
        wrap: true,
        altFormat: 'm/d/Y',
        altInput: true,
        dateFormat: 'm/d/Y'
      }
    };
  },
  props: {
    exportV1: { type: Boolean, default: false },
    dateFilter: { type: Boolean, default: false },
    loadingFilters: { type: Boolean, default: false },
    exportLabel: { type: String, default: 'csv' },
    hasExport: { type: Boolean, default: false },
    dropDownExportOptions: { type: Array, default: () => [] },
    dropDownExportDisableLabel: { type: String },
    exportPath: { type: String },
    hasRefresh: { type: Boolean, default: false },
    loading: { type: Boolean, default: false },
    hasClearFilters: { type: Boolean, default: false },
    searchColumns: {
      type: Array,
      default: () => []
    },
    hasTopBar: {
      type: Boolean,
      default: false
    },
    filter: {
      type: Object,
      required: true
    },
    lastFilter: {
      type: Object
    },
    exportUrl: {
      type: String
    },
    url: {
      type: String,
      required: true
    },
    tabFilters: {
      type: Array,
      default() {
        return [];
      }
    }
  },
  methods: {
    applyFilter(filter) {
      if (filter.start_date) this.startDate = filter.start_date;
      if (filter.end_date) this.endDate = filter.end_date;
    },

    onDateFiler() {
      const data = this;
      this.filter.start_date = moment.utc(data.startDate).toISOString();
      this.filter.end_date =
        this.startDate === data.endDate
          ? moment(data.endDate)
              .add(1, 'day')
              .toISOString()
          : moment.utc(data.endDate).toISOString();
      this.$emit('refresh');
    }
  },
  computed: {
    tabs() {
      return (
        (this.tabFilters &&
          this.tabFilters.map(i => ({
            ...i,
            val: i.val,
            name: i.name || startCase(i.val),
            show: false,
            criteria: i.criteria || []
          }))) ||
        []
      );
    }
  },
  mounted() {
    if (this.exportUrl) {
      this.exportPending = true;
    }
  }
};
</script>
<style>
.in-active {
  pointer-events: none;
  opacity: 0.7;
}
</style>
