<template>
  <div
    v-if="hasExport || hasRefresh"
    :class="{ 'mb-3 text-right d-flex justify-content-end': v1, 'd-flex align-items-center': !v1 }"
  >
    <label v-if="!v1" class="d-none d-md-block">&nbsp;</label>

    <div v-if="hasExport" class="mr-2">
      <div class="input-group mt-0 mb-0 d-flex  align-center" v-if="dropDownExportOptions.length">
        <b-dropdown variant="primary" :disabled="exportPending || isProgress || !!dropDownExportDisableLabel">
          <template #button-content> <i class="fa fa-cloud-download mr-2"></i>{{ exportLabel || 'csv' }} </template>
          <b-dropdown-item href="#" v-for="option in dropDownExportOptions" @click="() => exportFile('csv', option)">{{
            option.label
          }}</b-dropdown-item>
        </b-dropdown>
        &nbsp;
        <i
          class="fas fa-question-circle text-light mr-2 "
          v-if="dropDownExportDisableLabel"
          v-b-popover.hover="{
            content: dropDownExportDisableLabel
          }"
        ></i>
      </div>
      <button
        v-else
        type="button"
        class="btn btn-light"
        :disabled="exportPending || isProgress"
        @click="() => exportFile('csv')"
      >
        <i class="fa fa-cloud-download mr-2"></i>{{ exportLabel }}
      </button>
    </div>
    <div v-if="isProgress">
      <div class="mb-3 text-center">Export are in progress <i class="far fa-spinner fa-spin fa-fw mr-2"></i></div>
      <div class="progress flex-fill">
        <div class="progress-bar" role="progressbar" :style="`width: ${progress}%;`">{{ progress }}%</div>
      </div>
    </div>

    <button v-if="hasRefresh" type="button" class="btn btn-light" @click="$emit('refresh')">
      <i class="far fa-sync-alt" :class="{ 'fa-spin': loading }"></i>
    </button>
  </div>
  <div v-else>test++</div>
</template>
<script>
import { encodeOpts } from '../utils';
const sleep = (t = 1000) => new Promise(resolve => setTimeout(resolve, t));
export default {
  name: 'TableFilterExport',
  props: [
    'exportLabel',
    'dropDownExportOptions',
    'dropDownExportDisableLabel',
    'lastFilter',
    'exportPath',
    'exportUrl',
    'url',
    'hasExport',
    'hasRefresh',
    'loading',
    'v1'
  ],
  data() {
    return {
      exportPending: false,
      isProgress: false,
      progress: 0
    };
  },
  methods: {
    async trackExporting(format, options) {
      try {
        let time = 1000;
        this.isProgress = true;
        this.progress = 1;
        const normalizedFilter = { ...this.lastFilter, ...(options || {}), exportFormat: format };
        do {
          await sleep(time);
          const res = await (this.http || this.$axios).get(
            `${(options && options.url) || this.exportUrl}?${encodeOpts(normalizedFilter)}`,
            {
              headers: { progress: 1 }
            }
          );

          const progress = (res.data.progress * 100).toFixed(2);
          if (!isNaN(progress)) this.progress = progress;
          if (this.progress > 100) this.progress = 100;

          time = 3000;
        } while (this.progress > 0 && this.progress < 100);
      } catch (e) {
        console.log(e);
      } finally {
        this.isProgress = false;
      }
    },
    async exportFile(format, options) {
      if (this.exportUrl) {
        this.trackExporting(format, options);
      }

      this.exportPending = true;
      const normalizedFilter = { ...this.lastFilter, ...(options || {}), exportFormat: format };
      this.$emit('exportStart', normalizedFilter);
      const time = Date.now();
      try {
        const message = 'Export started. We will notify via email on finish';
        this.notificateSuccess(message);
      } catch (e) {}
      try {
        const resp = await (this.http || this.$axios).get(
            `${(options && options.url) || this.exportUrl || this.url}?${encodeOpts(normalizedFilter)}`,
            {
              responseType: 'blob'
            }
          ),
          url = window.URL.createObjectURL(resp.data);
        const a = document.createElement('a');
        document.body.appendChild(a);
        a.style = 'display: none';
        a.href = url;
        a.download = `${this.exportPath ? this.exportPath : 'reports'}.${format}`;
        a.click();
        window.URL.revokeObjectURL(url);
        a.parentNode.removeChild(a);
      } catch (e) {
        console.log(e);
        // if (Date.now() - time < 1000 * 30) {
        //   alert('No Data');
        // }
      } finally {
        this.exportPending = false;
      }
    },
    async checkTracking(params) {
      if (this.exportUrl) {
        this.exportPending = true;
        try {
          const format = 'csv';
          const normalizedFilter = { ...this.lastFilter, ...params, exportFormat: format };
          const res = await (this.http || this.$axios).get(`${this.exportUrl}?${encodeOpts(normalizedFilter)}`, {
            headers: { progress: 1 }
          });
          if (res.data.progress > 0) {
            this.trackExporting(format);
          }
        } catch (e) {
          console.log(e);
        } finally {
        }
      }
      this.exportPending = false;
    }
  }
};
</script>
