<template>
  <div class="mr-2 pb-2" :class="{ disabled: loading }" :data-id="tab.name">
    <div v-if="tab.date">
      <date-range
        :date-range="filter[tab.val]"
        :default-range="false"
        :select-dates-label="tab.name"
        @onChange="onUpdateOrderDateRange"
      />
    </div>
    <b-dropdown ref="dropdown" variant="light" v-else no-caret>
      <template #button-content>
        {{ tab.name }}
        <span class="badge badge-primary" v-if="filter[tab.val].length > 0">{{
          tab.text ? filter[tab.val] : filter[tab.val].length
        }}</span>
        <span v-if="getCount(tab.value) > 0" class="badge badge-primary">{{ getCount(tab.val) }}</span
        ><i class="far fa-question-circle m-1" v-if="tab.help" v-b-tooltip.hover :title="tab.help"></i>
        <i class="far fa-spinner-third fa-spin text-primary" v-if="loading" />
        <custom-icon />
      </template>
      <div v-if="!tab.text" class="d-flex justify-content-start mb-2 px-3 pt-2 small">
        <a href="javascript:;" @click="selectAll(tab.val, index)">Select all</a>
        <div class="mx-2">|</div>
        <a href="javascript:;" @click="deselectAll(tab.val)">Deselect all</a>
      </div>
      <div
        class="px-3 pb-2"
        style="min-width: 300px"
        v-if="searchColumns.includes(tab.val) || searchColumns.includes(tab.label) || tab.searchColumns"
      >
        <b-form-input placeholder="Search" v-model="search" :disabled="loading" @input="onInputSearh" />
      </div>
      <div v-if="tab.text" class="m-2">
        <b-form-input
          :placeholder="tab.name"
          :value="filter[tab.val]"
          :disabled="loading"
          @change="filter[tab.val] = $event"
        />
      </div>
      <div
        class="dropdown-menu dropdown-menu-form pb-2 px-3 border-0"
        v-on:click.stop
        v-else-if="sortedCriteria(tab).length"
        style="min-width: 300px"
      >
        <div class="optionList" @scroll="onScroll">
          <div class="dropdown-item pb-1" v-for="(criterion, cr_index) in sortedCriteria(tab)" :key="cr_index">
            <div class="custom-control custom-checkbox p-0">
              <input
                type="checkbox"
                v-model="filter[tab.val]"
                class="custom-control-input"
                :value="criterion.value || criterion"
                :id="`styled-checkbox-${uniqueKey}-${index}-${cr_index}`"
              />
              <label class="custom-control-label" :for="`styled-checkbox-${uniqueKey}-${index}-${cr_index}`">
                {{ formatCriteria(criterion, tab) }}
              </label>
            </div>
          </div>
        </div>
      </div>
    </b-dropdown>
  </div>
</template>
<script>
import DateRange from './DateRange';
import { encodeOpts } from '../utils/index';

export default {
  name: 'TableFilterTab',
  components: {
    DateRange
  },
  // created() {
  //   // this.loadCriteria();
  // },
  data() {
    return {
      uniqueKey: Date.now(),
      timeOut: null,
      total: 0,
      page: 1,
      search: '',
      orderBy: this.tab.orderBy || 'name',
      ascending: this.tab.ascending || 1,
      limit: this.tab.limit || 100,
      loading: false,
      calendarConfig: {
        mode: 'range',
        wrap: true, // set wrap to true only when using 'input-group'
        altFormat: 'm/d/Y',
        altInput: true,
        dateFormat: 'm/d/Y' // locale for this instance only
      }
    };
  },
  props: {
    searchColumns: {
      type: Array,
      default: () => []
    },
    tabs: {
      type: Array,
      default: () => []
    },
    tab: {
      type: Object,
      required: true
    },
    filter: {
      type: Object,
      required: true
    },
    index: {
      type: Number
    }
  },
  methods: {
    onUpdateOrderDateRange(dateRange) {
      this.filter[this.tab.val] = dateRange;
    },
    onScroll(e) {
      const height = e.target.scrollHeight - 300;
      if (height - e.target.scrollTop < height / 2) {
        this.loadCriteria();
      }
    },
    async loadCriteria() {
      if (this.tab.pathToLoadCriteria) {
        if (this.total > 0 && this.sortedCriteria(this.tab).length >= this.total) {
          return;
        }
        if (this.loading) return console.warn('pending...');
        try {
          setTimeout(() => (this.loading = true));
          const params = {
            limit: this.limit,
            page: this.page,
            orderBy: this.orderBy,
            ascending: this.ascending,
            ...this.tab.paramsToLoadCriteria
          };
          if (this.search) {
            params.query = this.search;
          }
          const { data } = await (this.http || this.$axios).get(this.tab.pathToLoadCriteria, {
            params,
            paramsSerializer: encodeOpts
          });
          this.page++;
          if (!this.total) this.total = data.count;
          const all = this.tab.criteria.map(e => e.val || e);

          for (let i = 0; i < data.data.length; i++) {
            const newItem = this.tab.mapCriteria
              ? this.tab.mapCriteria(data.data[i])
              : { val: data.data[i]._id, label: data.data[i].name };

            if (all.indexOf(newItem.val) < 0) {
              this.tab.criteria.push(newItem);
            }
          }
          this.$forceUpdate();
        } catch (e) {
          console.log(e);
        } finally {
          this.loading = false;
        }
      }
    },
    onInputSearh(e) {
      if (this.timeOut) clearTimeout(this.timeOut);
      this.timeOut = setTimeout(() => {
        this.page = 1;
        this.loadCriteria();
      }, 1500);
    },
    sortedCriteria(tab) {
      let list = tab.criteria;
      let search = this.search;
      if (search) {
        search = search.toLowerCase();
        list = list.filter(({ label }) =>
          label
            .toString()
            .toLowerCase()
            .match(search)
        );
      }
      return [...list].sort((a, b) => {
        if (tab.criteriaKey) {
          if (typeof a[tab.criteriaKey] !== 'undefined' || typeof b[tab.criteriaKey] !== 'undefined') {
            return a[tab.criteriaKey] &&
              b[tab.criteriaKey] &&
              a[tab.criteriaKey].toString().toLowerCase() > b[tab.criteriaKey].toString().toLowerCase()
              ? 1
              : -1;
          }
        }
        return a &&
          b &&
          (a.label || a.name || a.val || a).toString().toLowerCase() >
            (b.label || b.name || b.val || b).toString().toLowerCase()
          ? 1
          : -1;
      });
    },
    formatCriteria(criteria, tab) {
      if (tab.criteriaKey) {
        return criteria[tab.criteriaKey];
      }
      if (criteria instanceof Object) {
        return criteria.label || criteria.name || criteria.fullName;
      } //TODO: should be removed when criteriaKey will be used
      return criteria;
    },
    getCount(value) {
      return (
        this.filter &&
        Array.isArray(this.filter[value]) &&
        this.filter[value].filter(item => item !== null && typeof item !== 'boolean').length
      );
    },
    selectAll(value, index) {
      this.filter[value] = this.tabs[index].criteria;
    },
    deselectAll(value) {
      this.filter[value] = [];
    }
  },
  mounted() {
    if (this.$refs.dropdown) {
      this.$refs.dropdown.$refs.toggle.addEventListener('click', () => this.loadCriteria());
    }
  }
};
</script>
<style scoped>
.dropdown-menu-form {
  padding: 5px 10px 0;
}
.optionList {
  max-height: 50vh;
  overflow-y: auto;
}
.dropdown-menu {
  position: relative;
  display: block;
}
#dropdown-header-label {
  padding: 5px;
}
.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: transparent !important;
}
</style>
