<template>
  <div :style="{ ...(loading ? { pointerEvents: 'none', opacity: 0.7 } : null) }" v-if="!noClearFilters">
    <input type="hidden" data-id="mPower-refresh" @click="refresh" />
    <TableFilters
      :loadingFilters="loadingFilters"
      :key="loadingFilters"
      ref="filterControl"
      v-if="tabFilters.length || hasExport"
      :filter="filter"
      :tab-filters="tabFilters"
      :url="url"
      :lastFilter="lastFilter"
      :dateFilter="dateFilter"
      @refresh="refresh"
      @clearFilters="clearFilters"
      @exportStart="exportStart"
      :loading="loading"
      :hasClearFilters="hasClearFilters"
      :searchColumns="searchColumns"
      :hasTopBar="hasTopBar"
      :dropDownExportOptions="dropDownExportOptions"
      :dropDownExportDisableLabel="dropDownExportDisableLabel"
      :exportLabel="exportLabel"
      :exportV1="exportV1"
      :hasExport="hasExport"
      :exportPath="exportPath"
      :exportUrl="exportUrl"
      :hasRefresh="hasRefresh"
    >
      <template :slot="'tabsFilter'" slot-scope="scope">
        <slot
          :name="'tabsFilter'"
          v-bind="
            Object.assign(scope, { selected: selected.filter(el => !!el), refresh, perPage: options.perPage, page })
          "
        />
      </template>

      <slot name="filterBar" slot="filterBar" />
      <slot name="topBar" slot="topBar" />
    </TableFilters>

    <div class="text-center w-100 p-5" v-if="loading" data-id="mpower-loading">
      <i class="far fa-spinner-third fa-spin text-primary fa-3x"></i>
    </div>
    <div
      v-show="!loading && !loadDataError && canLoad"
      :class="{
        overlap: overlap
      }"
    >
      <v-server-table
        :columns="columnsArray"
        :options="options"
        :filterable="filterable"
        class="w-100 TopTable__table table-hover"
        ref="table"
        @loaded="$emit('loaded', $event)"
        @row-click="onClickRow"
      >
        <template #h__checkbox>
          <div class="custom-control custom-checkbox m-0 select-item" @click.stop>
            <input
              @click.stop
              @change="selectAllOrDisable"
              v-model="isSelectAll"
              class="custom-control-input"
              :id="uniquePrefix + 'checkbox-selectall'"
              type="checkbox"
            />
            <label :for="uniquePrefix + 'checkbox-selectall'" class="custom-control-label">&nbsp;</label>
          </div>
        </template>
        <template #checkbox="props">
          <div class="custom-control custom-checkbox select-item-1" @click.stop>
            <input
              v-model="selected[getIndex(props)]"
              class="custom-control-input"
              :id="`checkbox-${props.row._id}`"
              :true-value="JSON.parse(JSON.stringify(props.row))"
              type="checkbox"
              @change="$emit('selected', selected)"
            />
            <label :for="`checkbox-${props.row._id}`" class="custom-control-label">&nbsp;</label>
          </div>
        </template>
        <template :slot="!showAllChildRow ? -1 : 'child_row'" slot-scope="scope">
          <slot :name="!showAllChildRow ? -1 : 'child_row'" v-bind="scope"></slot>
        </template>
        <!--         Pass on all scoped slots -->
        <template v-for="slot in withoutScopeSlots" :slot="slot">
          <slot :name="slot"></slot>
        </template>
        <template v-for="slot in overlap ? columns : Object.keys($scopedSlots)" :slot="slot" slot-scope="scope">
          <span
            v-if="overlap && Object.keys($scopedSlots).includes(slot)"
            :data-row="slot"
            :title="`${scope.row[slot] || ''}`"
            class="text-ellipsis"
          >
            <slot
              :name="slot"
              v-bind="
                Object.assign(scope, {
                  selected: selected.filter(el => !!el),
                  refresh,
                  perPage: options.perPage,
                  page
                })
              "
          /></span>
          <span v-else-if="overlap" :data-row="slot" :title="`${scope.row[slot]}`" class="text-ellipsis">{{
            scope.row[slot]
          }}</span>
          <slot
            v-else
            :name="slot"
            v-bind="
              Object.assign(scope, { selected: selected.filter(el => !!el), refresh, perPage: options.perPage, page })
            "
          />
        </template>

        <span :slot="'afterFilter'" class="d-flex align-items-end">
          <slot
            name="customAfterFilter"
            v-bind="
              Object.assign({}, { selected: selected.filter(el => !!el), refresh, perPage: options.perPage, page })
            "
          ></slot>
          <div v-if="exportV1 && (hasExport || hasRefresh)" class="mr-2" />
          <TableFilterExport
            ref="filterExport"
            v-if="exportV1 && (hasExport || hasRefresh)"
            v-bind="{ ...$props, lastFilter }"
            @refresh="refresh"
            @exportStart="exportStart"
          />
        </span>
        <span :slot="'beforeFilter'">
          <slot
            name="customBeforeFilter"
            v-bind="
              Object.assign({}, { selected: selected.filter(el => !!el), refresh, perPage: options.perPage, page })
            "
          ></slot>
        </span>
      </v-server-table>
      <div class="w-100 d-flex justify-content-center" v-if="showLoadAllData" @click.prevent>
        <div class="custom-control custom-checkbox p-0">
          <input
            type="checkbox"
            v-model="filter.loadBackup"
            class="custom-control-input"
            :id="`styled-checkbox-load-backup`"
          />
          <label class="custom-control-label" :for="`styled-checkbox-load-backup`"> Load older data </label>
        </div>
      </div>
    </div>
    <div v-if="loadDataError">
      <div class="mt-3 alert alert-danger text-wrap">
        {{ loadDataError }}
      </div>
    </div>
  </div>
</template>
f
<script>
import TableFilters from './TableFilters';
import TableFilterExport from './TableFilterExport';
import { each, encodeOpts, startCase } from '../utils/index';

/**
 * @vue-prop {Boolean} shouldSetQuery - checker if should store the filter in query url
 *  @vue-prop {Boolean} dateFilter - checker if should allow filter in daterange
 *  @vue-prop {Boolean} hasExport - checker if should allow to export table
 *  @vue-prop {Function} requestFunction - callback to adopt/change query parsms on fetching data for table
 *  @vue-prop {Function} onLoadData - callback  on new data loaded
 *  @vue-prop {String} prefix - unique prefix to store filters, by default will use location route path
 * */
import mixins from '../mixins';
const isDev = window.location.origin.match(/localhost|127.0.0.1/gi);
export default {
  mixins: [mixins],
  components: { TableFilters, TableFilterExport },
  name: 'TopTable',
  props: {
    debounce: { type: Number },
    filterable: { type: Boolean, default: true },
    isSelectable: { type: Boolean, default: false },
    exportLabel: { type: String, default: 'csv' },
    exportV1: { type: Boolean, default: false },

    showLoadAllData: { type: Boolean, default: false },

    dateFilter: { type: Boolean, default: false },
    hasExport: { type: Boolean, default: false },
    dropDownExportOptions: { type: Array, default: () => [] },
    dropDownExportDisableLabel: { type: String },
    exportPath: { type: String },
    exportUrl: { type: String },
    hasClearFilters: { type: Boolean, default: false },
    hasRefresh: { type: Boolean, default: false },
    refreshInterval: { type: Number },

    headings: {
      type: Object,
      default() {
        return {};
      }
    },
    hasTopBar: {
      type: Boolean,
      default: false
    },
    onRowClassCallback: { type: Function },
    onResponseAdapter: { type: Function },

    onLoadData: { type: Function },
    sortable: {
      type: [Array, String],
      default: function() {
        return [];
      }
    },
    columns: {
      type: [Array, String],
      required: true
    },

    showAllChildRow: {
      type: Boolean,
      default: false
    },
    showChildRowToggler: {
      type: Boolean,
      default: true
    },
    overlap: {
      type: Boolean,
      default: true
    },
    responsive: {
      type: Boolean,
      default: true
    },
    uniqueKey: {
      type: String,
      default: '_id'
    },
    orderBy: {
      type: Object,
      default() {
        return {};
      }
    },
    align: {
      type: String,
      default: 'card-columns'
    },
    perPageValues: {
      type: Array,
      default: () => [10, 25, 50, 100]
    },
    perPage: {
      type: Number,
      default: 25
    }
  },
  data() {
    const self = this;

    let lastLoadedData;
    return {
      prevRequest: null,
      tableRefreshInterval: null,
      selected: [],

      isSelectAll: false,

      startDate: '',
      lastRequestTime: Date.now(),

      canLoad: false,
      loading: false,
      columnsArray: [],
      options: {
        ...(typeof this.filterable === 'boolean' && { filterable: this.filterable }),
        // filterByColumn: true,
        responseAdapter(a) {
          if (self.onResponseAdapter) return self.onResponseAdapter(a);
          return a;
        },
        rowClassCallback(a) {
          if (self.onRowClassCallback) {
            return self.onRowClassCallback(a);
          }
        },
        async requestFunction(data) {
          const that = await this.$parent;
          if (!that.canLoad || that.loading)
            return (
              lastLoadedData || {
                count: 0,
                data: []
              }
            );
          that.loading = true;
          that.loadDataError = null;
          const a = {};
          each(that.filter, (value, key) => {
            a[key] = value;
            if (!that.includeAllFilters && (!value || !value.length)) delete a[key]; //if no need to include filters will remove keys
          }); //

          that.tabFilters.forEach(i => {
            if (i.keyFilter && Array.isArray(a[i.val]) && a[i.val].filter(e => e).length) {
              a[i.val] = a[i.val].map(el => el[i.keyFilter] || el);
            }
            if (i.date && a[i.val] && !a[i.val].startDate && !a[i.val].endDate) {
              delete a[i.val];
            }
          });
          let params = {};
          const filter = JSON.parse(JSON.stringify(a));
          if (that.copyFilterInRoot) {
            params = {
              ...Object.assign({ filter }, data),
              ...filter,
              ...data
            };
          } else {
            params = Object.assign({ filter }, data);
          }
          params.limit = Number(params.limit);
          that.lastFilter = params;

          if (that.requestFunction) that.requestFunction(params);
          Object.keys(params).forEach(key => {
            if (Array.isArray(params[key]) && params[key].length === 0) {
              params[key] = params.filter[key] = null; //no need to send empty array
              delete params[key];
              delete params.filter[key];
            }
          });
          that.tabFilters.forEach(i => {
            if (params[i.val]) params.filter[i.val] = params[i.val];
          });

          Object.keys(params.filter).forEach(el => {
            if (Array.isArray(params.filter[el]) && params.filter[el][0] && params.filter[el][0].val)
              params.filter[el] = params.filter[el].map(v => ({ val: v.val }));
          });
          let _filter = JSON.parse(JSON.stringify(params));
          if (that.keepInGlobalStore) {
            localStorage.setItem(that.filterId, JSON.stringify(_filter)); //keep in global store
          }
          this.$parent.setQuery(_filter);

          that.$emit('changed-filter', params);

          let id = (this.lastRequestTime = Date.now());
          let res;
          try {
            res = (
              await (this.http || this.$axios)[this.$parent.method](this.$parent.url, {
                params,
                paramsSerializer: encodeOpts
              })
            ).data;
          } catch (e) {
            console.log(e);
            const { message } = e.data || (e.response && e.response.data) || {};
            that.loadDataError = message || 'Loading data failed';
            setTimeout(() => (that.loading = false), 1000);
            return { count: 0, data: [] };
          }
          that.checkFilters(params);

          if (id === this.lastRequestTime) {
            if (that.onLoadData) that.onLoadData(res, params);
            setTimeout(() => {
              if (that.$refs && that.$refs.filterExport) {
                that.$refs.filterExport.checkTracking(params);
              } else if (that.$refs && that.$refs.filterControl) {
                if (that.$refs.filterControl.$refs.filterExport)
                  that.$refs.filterControl.$refs.filterExport.checkTracking(params);
              }
            }, 1000);
            if (that.showAllChildRow && that.$refs.table) {
              (res.data || []).forEach(item => {
                if (!that.$refs.table.openChildRows.includes(item[that.uniqueKey])) {
                  that.$refs.table.openChildRows.push(item[that.uniqueKey]);
                }
              });
            }
            if (isDev) {
              setTimeout(() => {
                that.loading = false;
                that.resetSelection();
              }, 500);
            } else {
              that.loading = false;
            }

            lastLoadedData = res;
            return res;
          } else {
            return (
              lastLoadedData || {
                count: 0,
                data: []
              }
            );
          }
        },
        perPage: this.perPage,
        perPageValues: this.perPageValues,
        ...((typeof this.debounce === 'number' && ((this.debounce === 0 && {}) || { debounce: this.debounce })) || {
          debounce: 1000
        }),
        // ...(window.location.origin.match(/localhost|127.0.01/gi) && { debounce: 0 }),
        orderBy: this.orderBy,
        showChildRowToggler: this.showChildRowToggler,
        uniqueKey: this.uniqueKey,
        skin: 'table table-striped',
        sortIcon: {
          base: 'fal',
          up: 'fa-sort-amount-up',
          down: 'fa-sort-amount-down' /* , is:'fa-sort' */
        },
        headings: {},
        sortable: []
      },
      loadDataError: null
    };
  },
  computed: {
    withoutScopeSlots() {
      return Object.keys(this.$scopedSlots).filter(slot => slot.includes('__'));
    },
    data() {
      return this.$refs.table.data;
    },
    page() {
      return (this.$refs.table && this.$refs.table.page) || 0;
    }
  },
  watch: {
    columns() {
      this.updateColumnsArray();
    }
  },
  methods: {
    onClickRow(event) {
      this.$emit('clickRow', event);
    },
    selectAllOrDisable(event) {
      if (event.srcElement.checked && Array.isArray(this.data)) {
        this.selected = this.data.map(e => JSON.parse(JSON.stringify(e)));
      } else {
        this.selected = [];
      }
      this.$emit('selected', this.selected);
    },
    getIndex(props) {
      return this.data.findIndex(record => record._id === props.row._id);
    },

    resetSelection() {
      this.selected = [];
      this.isSelectAll = false;
    },
    refresh() {
      if (this.$refs.table) this.$refs.table.refresh();
    },

    exportStart(...e) {
      this.$emit('exportStart', ...e);
    },
    setTableFilter() {
      //
      const { table, filterControl } = this.$refs;
      if (!table) return setTimeout(() => this.setTableFilter(), 100);

      this.$nextTick(() => {
        if (filterControl) {
          filterControl.applyFilter(this.filter);
        }
        table.setPage(this.filter.page);
        table.setLimit(this.filter.limit);
        if (this.filter.orderBy) table.setOrder(this.filter.orderBy, this.filter.ascending === 1);
        table.setFilter(this.filter.query);
        this.$nextTick(() => {
          setTimeout(() => {
            this.canLoad = true;
            this.refresh();
          });
        });
      });
    },
    updateColumnsArray() {
      let headings = {};
      let sortable = []; //

      const columnsArray = JSON.parse(
        JSON.stringify(typeof this.columns === 'string' ? this.columns.split(',') : this.columns)
      );

      if (this.isSelectable) {
        columnsArray.splice(0, 0, 'checkbox');
        this.headings['checkbox'] = '';
      }
      columnsArray.forEach(i => {
        headings[i] = startCase(i);
        sortable.push(i);
      });
      if (this.headings) {
        headings = { ...headings, ...this.headings };
      }
      if (this.sortable && this.sortable.length) {
        sortable = [...this.sortable];
      }

      this.columnsArray = columnsArray;
      this.options.headings = headings;
      this.options.sortable = sortable;
    }
  },
  created() {
    this.updateColumnsArray();
    this.checkFilter();
  },
  mounted() {
    if (this.refreshInterval) {
      this.tableRefreshInterval = setInterval(() => {
        if (!this.loading) {
          this.refresh();
        }
      }, this.refreshInterval);
    }
  },
  beforeDestroy() {
    clearInterval(this.tableRefreshInterval);
  }
};
</script>

<style>
.loadingTable table.VueTables__table.table {
  opacity: 0.6;
}
table.VueTables__table.table td,
table.VueTables__table.table th {
  min-width: 100px;
}
table.VueTables__table.table td .dropdown.b-dropdown.show.btn-group {
  position: static;
}
table.VueTables__table.table td > .text-ellipsis,
table.VueTables__table.table th > .text-ellipsis {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
}
</style>
