<template>
  <div v-if="error" class="text-danger">{{ error }}</div>
  <div v-else class="w-100" :class="{ disabled: loading }">
    <div class="text-center w-100" style="position: absolute" v-if="loading">
      <i class="far fa-spinner-third fa-spin text-primary fa-3x"></i>
    </div>
    <div v-if="!hideFilters" class="w-100">
      <Filters
        :loadingFilters="loadingFilters"
        :key="loadingFilters"
        ref="filterControl"
        v-if="tabFilters.length"
        :filter="filter"
        :tab-filters="tabFilters"
        :url="url"
        :lastFilter="lastFilter"
        @refresh="refresh"
        @clearFilters="clearFilters"
        :loading="loading"
        :hasClearFilters="hasClearFilters"
        :searchColumns="searchColumns"
        :hasTopBar="hasTopBar"
      >
        <template :slot="'tabsFilter'" slot-scope="scope">
          <slot :name="'tabsFilter'" v-bind="Object.assign(scope, { selected: selected.filter(el => !!el) })" />
        </template>

        <slot name="filterBar" slot="filterBar" />
        <slot name="topBar" slot="topBar" />
      </Filters>
    </div>

    <div v-if="!hideFilters || v1" class="w-100 d-flex justify-content-between" :class="{ 'align-items-end': v1 }">
      <Filters
        :loadingFilters="loadingFilters"
        :key="loadingFilters"
        ref="filterControl"
        v-if="tabFilters.length && v1"
        :filter="filter"
        :tab-filters="tabFilters"
        :url="url"
        :lastFilter="lastFilter"
        @refresh="refresh"
        @clearFilters="clearFilters"
        :loading="loading"
        :hasClearFilters="hasClearFilters"
        :searchColumns="searchColumns"
        :hasTopBar="hasTopBar"
      >
        <template :slot="'tabsFilter'" slot-scope="scope">
          <slot :name="'tabsFilter'" v-bind="Object.assign(scope, { selected: selected.filter(el => !!el) })" />
        </template>

        <slot name="filterBar" slot="filterBar" />
        <slot name="topBar" slot="topBar" />
      </Filters>
      <validated-input
        v-else
        label="Filter:"
        placeholder="Search..."
        v-model="query"
        @input="onSearch"
        @keyup.enter="requestData"
      />
      <validated-input
        label="Records:"
        type="select"
        :options="[10, 25, 50, 100]"
        v-model="limit"
        @change="requestData"
      />
    </div>
    <div v-if="!loading && !total" class="text-warning text-center">No Data!</div>
    <div v-if="total" :class="align || 'w-100 d-flex flex-wrap'">
      <slot :name="'record'" :item="item" :list="data" :index="index" v-for="(item, index) in data">
        <span>{{ item._id }}</span>
      </slot>
    </div>
    <div
      class="p-2 d-flex"
      :class="{
        'justify-content-space-between': showLoadAllData,
        'justify-content-center flex-column text-center': !showLoadAllData
      }"
      v-if="total > limit"
    >
      <div class="d-flex justify-content-center flex-column text-center" :class="{ 'col-sm-6': showLoadAllData }">
        <b-pagination
          v-model="page"
          :total-rows="total"
          :per-page="limit"
          aria-controls="my-table"
          @change="onChangePagination"
        ></b-pagination>
        <p>Showing {{ (page - 1) * limit || 1 }} to {{ (page - 1) * limit + limit }} of {{ total }}</p>
      </div>
      <div class="col-sm-6 d-flex justify-content-center" v-if="showLoadAllData">
        <div class="custom-control custom-checkbox p-0">
          <input
            type="checkbox"
            v-model="filter.loadBackup"
            class="custom-control-input"
            :id="`styled-checkbox-load-backup`"
          />
          <label class="custom-control-label" :for="`styled-checkbox-load-backup`"> Load older data </label>
        </div>
      </div>
    </div>
    <div class="w-100 d-flex justify-content-center" v-else-if="showLoadAllData">
      <div class="custom-control custom-checkbox p-0">
        <input
          type="checkbox"
          v-model="filter.loadBackup"
          class="custom-control-input"
          :id="`styled-checkbox-load-backup`"
        />
        <label class="custom-control-label" :for="`styled-checkbox-load-backup`"> Load older data </label>
      </div>
    </div>
  </div>
</template>
<script>
import { encodeOpts } from '../../utils/index';
import listMixin from './list.mixins';
import Filters from '../TableFilters';
export default {
  props: {
    hideFilters: Boolean,
    showLoadAllData: Boolean,
    align: {
      type: String
    },
    list: {
      type: Array,
      default: () => []
    },
    onLoad: {
      type: Function
    },
    v1: {
      type: Function
    }
  },
  components: {
    Filters
  },
  mixins: [listMixin],
  name: 'PaginationLoading',
  data() {
    return {
      delaySearch: false,
      delayRequestData: false,
      query: '',
      page: 1,
      limit: 10,
      data: [],
      total: 0
    };
  },
  methods: {
    onChangePagination() {
      this.$nextTick(() => this.requestData());
    },
    onClearFilter() {
      this.page = 1;
      this.limit = 10;
      this.query = '';
    },
    onSearch() {
      if (this.delaySearch) clearTimeout(this.delaySearch);
      this.delaySearch = setTimeout(() => {
        this.requestData();
        this.delaySearch = null;
      }, 1000);
    },
    refresh() {
      this.requestData();
    },
    async requestData() {
      try {
        if (!this.canLoad) return;
        if (this.loading) {
          return (this.delayRequestData = true);
        }
        this.loading = true;
        const params = {
          query: this.query,
          page: this.page,
          limit: this.limit
        };

        const res = (
          await (this.http || this.$axios)[this.method](this.url, {
            params: this.requestParams(params),
            paramsSerializer: encodeOpts
          })
        ).data;
        if (this.onLoad) this.onLoad(res);
        this.checkFilters(params);
        this.data = res.data;
        this.total = res.count;
        if (this.list.length) {
          this.data.splice(0, 0, ...this.list);
          this.total += this.list.length;
        }
      } catch (e) {
        this.error = (e && e.message) || e;
        console.log(e);
      } finally {
        this.loading = false;
        if (this.delayRequestData) {
          this.delayRequestData = false;
          this.requestData();
        }
      }
    }
  }
};
</script>
